
#formContainer {
 border: 1px solid black;
 width: 60%;
margin: 50px;
padding: 25px;
padding-bottom: 60px;
}
#add-event-btn {
    position: absolute;
}
.btn {
    margin: 5px
}

.stickyDiv{

    position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: 50px;
  font-size: 20px;
  
}