.top-bar {
    background-color: orange;
}




.event-update {
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}



#formContainer {
    border: 5px solid black;
    width: 60%;
    margin: 50px;
    padding: 25px;
    padding-bottom: 60px;
}
#add-event-btn {
    position: absolute;
}
.btn {
    margin: 5px
}
.stickyDiv{
 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 20px;
    padding: 20px;
 
 }
 #bgImg {
    background-image: url("../images/eventsheader.jpg");
    background-size: contain;
    background-repeat: repeat;
 }    



 #mapid {
    height: 300px;
    width: 300px;
    margin-top: 20px;
  }

.footer {
    background-image: url("../images/eventsfooter.jpg");
    background-size: contain;
    background-repeat: repeat;

}